# Core Framework
fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
websockets==14.2

# AutoGen and AI Libraries
# pyautogen[websockets]
pyautogen==0.5.2
# aiofiles  # For async file operations with AutoGen

# Web Scraping & Processing
# selenium  # For web scraping (captures screenshots)
selenium==4.16.0
beautifulsoup4==4.12.2
requests==2.32.3
pillow==11.1.0  # For image processing (handling screenshots and favicons)

# Vector Store Dependencies (for Qdrant)
pandas==2.2.3
openpyxl==3.1.5  # For reading Excel files
# sentence-transformers  # For text embeddings
# qdrant-client  # Qdrant vector database client

# Vector Store Dependencies (Redis)
# pandas==2.2.3
# openpyxl==3.1.5  # For reading Excel files
redis>=4.5.1
supabase==2.10.0
# OpenAI
openai==1.63.0

# Server
gunicorn==21.2.0
# Database and async operations
asyncpg==0.28.0
aiohttp==3.9.5  # Updated to a version compatible with Python 3.12
pydantic==2.4.2
email-validator==2.0.0.post2
python-multipart==0.0.6
httpx>=0.24.0
